<h1 class="jumbotron">Roster</h1>
    <ul class="list-group">
        <!-- Go through the factory of students and loop through them, displaying their name with a sign in and out button. As well as make that click work -->
        <li class="list-group-item" ng-repeat="student in students | orderBy:'name'">
            {{ student.name }}
            <span ng-show="!student.signedIn && !student.signedOut">
                <button type="button" class="btn btn-default btn-sm btn-sign-in" ng-click="signIn(student)">Sign in</button>
            </span>
            <span ng-show="student.signedIn && !student.signedOut">
                <button type="button" class="btn btn-default btn-sm btn-sign-out" ng-click="signOut(student)">Sign out</button>
            </span>
        </li>
    </ul>
</div>
